.dark {
  background: linear-gradient(to bottom right, #3b0a91, #0b1a7a, #082c5c);
  color: white;
}

.light {
  background: linear-gradient(to bottom right, #e8d3ff, #d9eaff, #ffffff);
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: linear-gradient(to right, #5c0aff, #2a6fff);
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.toggle,
.connect,
.token {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 10px;
}

.toggle {
  background-color: white;
  color: black;
  cursor:pointer;
}

.connect, .token{
  background-color: white;
  color: black;
}
